<!--
    PURPOSE: generates navigation bar at the top of the landing page.  

-->

<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
        <button type="button" id="nav-toggle" class="navbar-toggle" 
                data-toggle="collapse" data-target="#mainNav">
            <span class="sr-only">Toggle</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="index.php" class="navbar-brand"><span class="glyphicon glyphicon-home"></span>FFN</a>
    </div>
    <div id="mainNav" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">                                                 
            <li><a href="loginPage.php">login</a></li>
            <li><a href="#">new member</li> 
        </ul>
    </div>                  
    </div>              
</nav>