<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="trans_box center-block text-center img-responsive centerAll">
                <h1 class="logo">Well to my ecomm app</h1>
                <p class='slogin'>Buy Stuff</p>
                <button class='btn-lg btn-success'>Sign Up</button>
            </div>
        </div>
    </div>
</div>